//it means this file is a partial file which will be further added to the other files
// //for this file to work we added a dependecies in the angular.json file \
// "stylePreprocessorOptions" : {
//   "includePaths" : [
//     "./styles"
//   ]
// }
$main-color : #F44336;
$light-gray-color : #e9e9e9;
$text-color : #484848;
